################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/KurumsalWebSitesi/v17
/.vs/KurumsalWeb/FileContentIndex
/.vs/KurumsalWeb/config
/KurumsalWeb/.vs
