################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/KurumsalWebSitesi/v17
/.vs/KurumsalWeb/FileContentIndex
/.vs/KurumsalWeb/config
/KurumsalWeb/.vs
/.vs/KurumsalWeb/v17/.suo
/KurumsalWeb/KurumsalWeb.csproj.user
/.vs/KurumsalWeb/v17/DocumentLayout.json
/KurumsalWeb/bin
/KurumsalWeb/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/KurumsalWeb/obj/Debug/Kurumsal.0C2329F4.Up2Date
/KurumsalWeb/obj/Debug/KurumsalWeb.csproj.AssemblyReference.cache
*.cache
/KurumsalWeb/obj/Debug/KurumsalWeb.csproj.FileListAbsolute.txt
/KurumsalWeb/obj/Debug/KurumsalWeb.dll
/KurumsalWeb/obj/Debug
/KurumsalWeb/KurumsalWeb.csproj.user
/KurumsalWeb/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/KurumsalWeb/obj/Debug/KurumsalWeb.csproj.AssemblyReference.cache
/KurumsalWeb/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
