USE [KurumsalDBYeni]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 4.06.2024 22:49:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Admin]    Script Date: 4.06.2024 22:49:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Admin](
	[AdminId] [int] IDENTITY(1,1) NOT NULL,
	[Eposta] [nvarchar](50) NOT NULL,
	[Sifre] [nvarchar](50) NOT NULL,
	[Yetki] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Admin] PRIMARY KEY CLUSTERED 
(
	[AdminId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Blog]    Script Date: 4.06.2024 22:49:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Blog](
	[BlogId] [int] IDENTITY(1,1) NOT NULL,
	[Baslik] [nvarchar](max) NULL,
	[Icerik] [nvarchar](max) NULL,
	[ResimURL] [nvarchar](max) NULL,
	[KategoriId] [int] NULL,
 CONSTRAINT [PK_dbo.Blog] PRIMARY KEY CLUSTERED 
(
	[BlogId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Hakkimizda]    Script Date: 4.06.2024 22:49:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Hakkimizda](
	[HakkimizdaId] [int] IDENTITY(1,1) NOT NULL,
	[Aciklama] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_dbo.Hakkimizda] PRIMARY KEY CLUSTERED 
(
	[HakkimizdaId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Hizmet]    Script Date: 4.06.2024 22:49:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Hizmet](
	[HizmetId] [int] IDENTITY(1,1) NOT NULL,
	[Baslik] [nvarchar](150) NOT NULL,
	[Aciklama] [nvarchar](max) NULL,
	[ResimURL] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Hizmet] PRIMARY KEY CLUSTERED 
(
	[HizmetId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Iletisim]    Script Date: 4.06.2024 22:49:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Iletisim](
	[IletisimId] [int] IDENTITY(1,1) NOT NULL,
	[Adres] [nvarchar](250) NULL,
	[Telefon] [nvarchar](250) NULL,
	[Fax] [nvarchar](max) NULL,
	[Facebook] [nvarchar](max) NULL,
	[Whatsapp] [nvarchar](max) NULL,
	[Twitter] [nvarchar](max) NULL,
	[Instagram] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Iletisim] PRIMARY KEY CLUSTERED 
(
	[IletisimId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Kategori]    Script Date: 4.06.2024 22:49:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Kategori](
	[KategoriId] [int] IDENTITY(1,1) NOT NULL,
	[KategoriAd] [nvarchar](50) NOT NULL,
	[Aciklama] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Kategori] PRIMARY KEY CLUSTERED 
(
	[KategoriId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Kimlik]    Script Date: 4.06.2024 22:49:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Kimlik](
	[KimlikId] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](100) NOT NULL,
	[Keywords] [nvarchar](200) NOT NULL,
	[Description] [nvarchar](300) NOT NULL,
	[LogoURL] [nvarchar](max) NULL,
	[Unvan] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Kimlik] PRIMARY KEY CLUSTERED 
(
	[KimlikId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Slider]    Script Date: 4.06.2024 22:49:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Slider](
	[SliderId] [int] IDENTITY(1,1) NOT NULL,
	[Baslik] [nvarchar](30) NULL,
	[Aciklama] [nvarchar](150) NULL,
	[ResimURL] [nvarchar](250) NULL,
 CONSTRAINT [PK_dbo.Slider] PRIMARY KEY CLUSTERED 
(
	[SliderId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Yorum]    Script Date: 4.06.2024 22:49:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Yorum](
	[YorumId] [int] IDENTITY(1,1) NOT NULL,
	[AdSoyad] [nvarchar](50) NOT NULL,
	[Eposta] [nvarchar](max) NULL,
	[İcerik] [nvarchar](max) NULL,
	[BlogId] [int] NULL,
	[Onay] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.Yorum] PRIMARY KEY CLUSTERED 
(
	[YorumId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[Admin] ON 

INSERT [dbo].[Admin] ([AdminId], [Eposta], [Sifre], [Yetki]) VALUES (1, N'admin@admin.com', N'E10ADC3949BA59ABBE56E057F20F883E', N'admin')
INSERT [dbo].[Admin] ([AdminId], [Eposta], [Sifre], [Yetki]) VALUES (2, N'kurumsal@gmail.com', N'827CCB0EEA8A706C4C34A16891F84E7B', N'Admin')
INSERT [dbo].[Admin] ([AdminId], [Eposta], [Sifre], [Yetki]) VALUES (4, N'kubrakosee34@gmail.com', N'8868CC13C33B46FA1EDE945B77E0959E', N'Editör')
SET IDENTITY_INSERT [dbo].[Admin] OFF
SET IDENTITY_INSERT [dbo].[Blog] ON 

SET IDENTITY_INSERT [dbo].[Blog] OFF
SET IDENTITY_INSERT [dbo].[Hakkimizda] ON 

INSERT [dbo].[Hakkimizda] ([HakkimizdaId], [Aciklama]) VALUES (1, N'<p>1984 yılından beri &ouml;nc&uuml;</p>

<p>​Kişisel bilgisayarlar i&ccedil;in uygulama yazılımları geliştirmek &uuml;zere 1984 yılında sekt&ouml;re giren Logo, T&uuml;rkiye&rsquo;nin en b&uuml;y&uuml;k yazılım kuruluşlarından biridir. &Uuml;rettiği &ccedil;&ouml;z&uuml;m, hizmet ve inovasyonlarla T&uuml;rkiye&rsquo;de yazılım sekt&ouml;r&uuml;n&uuml;n yenilik&ccedil;i lideri konumuna gelmiştir.</p>
')
SET IDENTITY_INSERT [dbo].[Hakkimizda] OFF
SET IDENTITY_INSERT [dbo].[Hizmet] ON 

INSERT [dbo].[Hizmet] ([HizmetId], [Baslik], [Aciklama], [ResimURL]) VALUES (3, N'Cloud', N'<p>Bulut bilişim, bilgisayarlar ve diğer cihazlar i&ccedil;in, istendiği zaman kullanılabilen ve kullanıcılar arasında paylaşılan bilgisayar kaynakları sağlayan, internet tabanlı bilişim hizmetlerinin genel adıdır.</p>
', N'/Uploads/Hizmet/2e1436f1-c78f-4ce2-b28e-03d5f609709c.png')
INSERT [dbo].[Hizmet] ([HizmetId], [Baslik], [Aciklama], [ResimURL]) VALUES (1003, N'DevOps', N'<p>DevOps, yazılım geliştirme ve bilgi teknolojileri end&uuml;strisinde bir metodolojidir. Bir dizi uygulama ve ara&ccedil; olarak kullanılan DevOps, sistem geliştirme yaşam d&ouml;ng&uuml;s&uuml;n&uuml; iyileştirmek ve kısaltmak i&ccedil;in bir ara&ccedil; olarak DevOps &ccedil;alışmalarını entegre eder ve otomatikleştirir.&nbsp;</p>
', N'/Uploads/Hizmet/ac0c87ca-91f5-40e8-a4e7-c0ddcea34485.png')
INSERT [dbo].[Hizmet] ([HizmetId], [Baslik], [Aciklama], [ResimURL]) VALUES (1005, N'Yazılım', N'<p><strong>Yazılım&nbsp;</strong>bir teknoloji terimidir.&nbsp;<strong>&ldquo;Yazılım Nedir?&rdquo;&nbsp;</strong>sorusunun cevabına baktığımızda ise &ccedil;eşitli g&ouml;revler yapma amacı ile tasarlanmış elektronik aygıtların birbirleriyle haberleşmesini ve uyumlu olmasını sağlayan makine komutudur.</p>
', N'/Uploads/Hizmet/6f2a329f-efc2-4365-9876-4875bbcf08e4.png')
SET IDENTITY_INSERT [dbo].[Hizmet] OFF
SET IDENTITY_INSERT [dbo].[Iletisim] ON 

INSERT [dbo].[Iletisim] ([IletisimId], [Adres], [Telefon], [Fax], [Facebook], [Whatsapp], [Twitter], [Instagram]) VALUES (1001, N'İstanbul', N'212 570 57 57', N'212 570 67 67', N'@kurumsalweb', N'@kurumsalweb', N'555 55 55 55', N'@kurumsalweb')
SET IDENTITY_INSERT [dbo].[Iletisim] OFF
SET IDENTITY_INSERT [dbo].[Kategori] ON 

INSERT [dbo].[Kategori] ([KategoriId], [KategoriAd], [Aciklama]) VALUES (1, N'Genel', N'Genel Bilgiler')
INSERT [dbo].[Kategori] ([KategoriId], [KategoriAd], [Aciklama]) VALUES (2, N'Hizmet', N'Hzimetler Hakkında')
SET IDENTITY_INSERT [dbo].[Kategori] OFF
SET IDENTITY_INSERT [dbo].[Kimlik] ON 

INSERT [dbo].[Kimlik] ([KimlikId], [Title], [Keywords], [Description], [LogoURL], [Unvan]) VALUES (1, N'Kurumsal Web Sitesi Projesi Başlığı', N'kurumsal.web.asp.net.mvc', N'<p><strong>kurumsal</strong></p>
', N'/Uploads/Kimlik/579352-15ctfd1515601765_16718072329.png.png', N'kurumsal')
SET IDENTITY_INSERT [dbo].[Kimlik] OFF
SET IDENTITY_INSERT [dbo].[Slider] ON 

INSERT [dbo].[Slider] ([SliderId], [Baslik], [Aciklama], [ResimURL]) VALUES (3, N'Ekip çalışmamız', NULL, N'/Uploads/Slider/27784af2-ea88-4cd5-99a7-279283533d57.jpg')
INSERT [dbo].[Slider] ([SliderId], [Baslik], [Aciklama], [ResimURL]) VALUES (5, N'Ekip', NULL, N'/Uploads/Slider/5633e132-fbdf-41c6-8825-55cbbb883fd0.jpg')
INSERT [dbo].[Slider] ([SliderId], [Baslik], [Aciklama], [ResimURL]) VALUES (6, N'Sistem Yazılımları', NULL, N'/Uploads/Slider/490bd0bd-5cd7-4e61-acdf-7cf7c9781ee2.jpg')
SET IDENTITY_INSERT [dbo].[Slider] OFF
SET IDENTITY_INSERT [dbo].[Yorum] ON 

INSERT [dbo].[Yorum] ([YorumId], [AdSoyad], [Eposta], [İcerik], [BlogId], [Onay]) VALUES (7, N'mehmet', NULL, N'blog yazılarınız çok güzel', 5, 0)
INSERT [dbo].[Yorum] ([YorumId], [AdSoyad], [Eposta], [İcerik], [BlogId], [Onay]) VALUES (9, N'ceday', NULL, N'Çok güzel bilgiler', 3, 0)
SET IDENTITY_INSERT [dbo].[Yorum] OFF
ALTER TABLE [dbo].[Yorum] ADD  DEFAULT ((0)) FOR [Onay]
GO
ALTER TABLE [dbo].[Blog]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Blog_dbo.Kategori_KategoriId] FOREIGN KEY([KategoriId])
REFERENCES [dbo].[Kategori] ([KategoriId])
GO
ALTER TABLE [dbo].[Blog] CHECK CONSTRAINT [FK_dbo.Blog_dbo.Kategori_KategoriId]
GO
ALTER TABLE [dbo].[Yorum]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Yorum_dbo.Blog_BlogId] FOREIGN KEY([BlogId])
REFERENCES [dbo].[Blog] ([BlogId])
GO
ALTER TABLE [dbo].[Yorum] CHECK CONSTRAINT [FK_dbo.Yorum_dbo.Blog_BlogId]
GO
